.vs/
bin/
obj/
*.suo
*.user
*.userprefs
*.sln.docstates

*.dll
*.exe

packages/
*.nupkg
project.lock.json
project.fragment.lock.json

*.log
*.log.*
*.tmp
*.pid
*.user
Thumbs.db
desktop.ini
*.suo
*.cache

appsettings.Development.json
appsettings.Local.json

.vscode/

/_backup/

.vsconfig
IISExpress/config/applicationhost.config