
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container-form">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>
                    Escucha musica de calidad con LOOS SOUND
                    EMPIEZA AHORA
                </p>
                <input type="button" value="Iniciar Sesion">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crea una Cuenta</h2>
                <div class="icons">
                    <i class='bx bxl-google'></i>
                    <i class='bx bxl-facebook-circle'></i>
                </div>
                <p>o usa una gmail para registrarte</p>
                <form class="form">
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Nombre Completo">
                    </label>
                    <label>
                        <i class='bx bxl-gmail'></i>
                        <input type="email" placeholder="Correo electronico">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Ingrese contraseña">
                    </label>
                    <input type="submit" value="Registrarse">
                </form>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>