@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/Content/css")
<div class="general__contenido__novedades">
    <div class="general__contenido__novedades__cuadro">
        <h1 class="general__contenido__novedades__cuadro__letrero">Novedades</h1>
    </div>
    <div class="tarjeta">
        <div class="titulo">Una tarjeta básica</div>
        <div class="cuerpo">
            <img src="/imgs/cards0-img.jpg" alt="muestra">
            lorem ipsum
        </div>
        <div class="pie">
<<<<<<< HEAD
=======
            <p>Más información</p>
>>>>>>> e302a7aed7ec18925cbee95f20a5c3a35a000beb
        </div>
    </div>

</div>

<div class="general__contenido__recomendaciones">
    <div class="general__contenido__recomendaciones__cuadro">
        <h1 class="general__contenido__recomendaciones__cuadro__letrero">Recomendado para ti</h1>
    </div>
    <div class="tarjeta">
        <div class="titulo">Una tarjeta básica</div>
        <div class="cuerpo">
            <img src="/imgs/cards0-img.jpg" alt="muestra">
            lorem ipsum
        </div>
        <div class="pie">
<<<<<<< HEAD
=======
            <p>Más información</p>
>>>>>>> e302a7aed7ec18925cbee95f20a5c3a35a000beb
        </div>
    </div>

</div>