
@{
    ViewBag.Title = "Index";
}
<<<<<<< HEAD
@Styles.Render("~/Content/css")
<div class="todo">
    <div class="general__contenido__novedades">
        <div class="general__contenido__novedades__cuadro">
            <h1 class="general__contenido__novedades__cuadro__letrero">Novedades</h1>
        </div>
        <div class="tarjeta">
            <div class="titulo">Una tarjeta básica</div>
            <div class="cuerpo">
                <img src="/imgs/cards0-img.jpg" alt="muestra">
                lorem ipsum
            </div>
            <div class="pie">
                <p>Más información</p>
            </div>
        </div>
    </div>

    <div class="general__contenido__recomendaciones">
        <div class="general__contenido__recomendaciones__cuadro">
            <h1 class="general__contenido__recomendaciones__cuadro__letrero">Recomendado para ti</h1>
        </div>
        <div class="tarjeta">
            <div class="titulo">Una tarjeta básica</div>
                <div class="cuerpo">
                    <img src="/imgs/cards0-img.jpg" alt="muestra">
                    lorem ipsum
                </div>
            <div class="pie">
                <p>Más información</p>
            </div>
        </div>
    </div>
</div>
=======



>>>>>>> e7046159f204d73db818aaab315ac5b809b538ef
