/*---------------Pagina Layout------------------------------------------------------*/

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
    margin: auto;
}

.container {
    position: relative;
}

.menu {
    width: 15%;
    height: 680px;
    /* centrado vertical */
    position: absolute;
}

.menu__superior__usuario{
    display: flex;
    padding: 30px
}
.menu__superior__usuario__text{
    font-size: 1.5em;
    padding-top: 20px;
    display: flex;
}

.menu__superior__usuario img {
    height: 3em;
    padding: 10px;
}
.general__bienvenida {
    position: absolute;
    top: 0; /* Lo colocamos en la parte superior */
    right: 0; /* Lo colocamos en la parte derecha */
    width: 85%;
    height: 150px;
}

.general__bienvenida__logo {
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    margin-top: 1%;
}

.general__bienvenida__busqueda {
    position: absolute;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    top: 40px;
    right: 350px;
}


i img {
    height: 20px;
}

.hora {
    position: absolute;
    top: 0;
    align-items: center;
    margin-left: 2%;
    margin-top: 2%;
}



.contenido_general {
    margin-top: 150px;
    width: 85%;
    height: 520px;
    float: right;
    bottom: 20%;

}

/* Estilos para el reproductor de música en el footer */
footer .reproductor {
    position: relative; /* Fijar la posición del div */
    bottom: 0; /* Colocar el div en la parte inferior */
    left: 0; /* Colocar el div en el borde izquierdo */
    width: 100%; /* Hacer que el div ocupe todo el ancho */
    background-color: #291E31;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333; /* Cambia el color de fondo a tu elección */
    padding: 10px;
}

footer .info {
    display: flex;
    align-items: center;
}

    footer .info .imgPlay {
        width: 50px;
        height: 30px;
        margin-right: 10px;
        align-items: center;
        text-align: center;
    }

footer .cancion-info p {
  
    color: #fff; /* Cambia el color del texto a tu elección */
}

footer .controles {
    display: flex; /* Para hacer que los botones se vean de forma horizontal */
    align-items: center; /* Alinea los botones verticalmente en el centro */
}

    footer .controles button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 5px
    }

footer .barra-reproduccion {
    width: 60%;
    margin-left: 10px; /* Espacio entre los controles y la barra de reproducción */
}

    footer .barra-reproduccion input[type="range"] {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        height: 3px; /* Cambia el grosor de la barra de reproducción */
        background: #555; /* Cambia el color de fondo de la barra de reproducción */
        outline: none;
    }

        footer .barra-reproduccion input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px; /* Cambia el tamaño del control deslizante */
            height: 10px; /* Cambia el tamaño del control deslizante */
            background: #fff; /* Cambia el color del control deslizante */
            border-radius: 50%;
            cursor: pointer;
        }

/* Estilos para los botones de control (atras, play, pausa, siguiente) */
footer .controles button#play img {
    max-width: 20px; /* Ajusta el tamaño del ícono de reproducción */
}

.btn_play{
    margin-left: 5px;
}

img {
    width: 100px;
    margin-right: 10px;
}

/*------------------------------------------------------------------------------------*/

/*--------------------------HomePage------------------------------------------------*/

.general__contenido__novedades {
    height: 350px;
    margin-top: 0 auto;
    width: 100%;
    height: 230px;
    float: right;
}

.general__contenido__novedades__cuadro {
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 200px;
    margin-left: 2%;
    margin-top: 0%;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
}

.tarjeta {
    display: inline-block;
    background-color: #8B51B9;
    border: 1px solid lightgray;
    border-radius: 15px;
    font-family: sans-serif;
    margin-left: 2%;
    max-width: 150px; /* La tarjeta no será más ancha que 300px */
    max-height: 170px; /* La tarjeta no será más alta que 400px */
    text-align: center;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

.name-cancion-nov{
    font-size: 15px;
}

.name-artist-nov{
    font-size: 13px;
}

.name-album-nov {
    font-size: 10px;
}
.caratula {
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: 13px;
}

/*------------------------------------------------------------------------------------*/
.menu__superior__inicio {
    display: flex;
    padding: 30px
}

.menu__superior__inicio__text {
    font-size: 1.5em;
    display: flex;
    padding-top: 10px;
}

.menu__superior__inicio img {
    height: 3em;
    padding-left: 30px;
}
/*--------*/
.menu__biblioteca {
    height: 64.4vh;
    background: linear-gradient(to top, rgb(140, 82, 255), rgb(0, 0, 0));
}

.menu__biblioteca__letrero {
    font-size: 1em;
    padding: 20px;
    display:flex;
}
.menu__biblioteca__letrero__inferior {
    padding-top:50px;
}

.menu__biblioteca__letrero img {
    height: 5em;
    padding: 20px;
}

.menu__biblioteca__letrero {
   
}

.biblioteca__album img {
    width: 30%;
    height: 50px;
    margin-left: 2%;
}

.nombreA {
    height: 10px;
    padding: 5px;
}
/*--------------------------------*/
.general__bienvenida__bn {
    font-size: 40px;
}

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}
/* styling of whole input container */
.form {
    --timing: 0.3s;
    --width-of-input: 400px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
    margin-left:25%;
}
/* styling of Input */
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    color: black;
}
/* styling of animated border */
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
    border-radius: var(--after-border-radius);
}

.general__bienvenida__busqueda form {
    flex-grow: 1;
    flex-basis: 200;
}

input:focus {
    outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
    transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}
/* sizing svg icons */
.form svg {
    width: 17px;
    margin-top: 3px;
}

.general__bienvenida__busqueda button {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: white;
}
.general__bienvenida__logo img {
    flex-grow: 1;
    flex-basis: 200;
    height: 100px;
    padding: 5px;
}

.general__contenido {
    background-color: rgb(29, 28, 28);
    margin-top: 5px;
    height: 74.1vh;
    width: 80vw;
    display: inline-block;
    border-color: rgb(0, 0, 0);
}

.general__contenido__novedades {
    height: 275px;
}

.general__contenido__novedades__cuadro {
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 200px;
    margin-left: 5%;
    margin-top: 1%;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
}

.general__contenido__recomendaciones {
    height: 275px;
}

.general__contenido__recomendaciones__cuadro {
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 350px;
    margin-left: 5%;
    margin-top: 1%;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
}
.todo {
    background-color: rgb(29, 28, 28);
    height:654px;
    padding:20px
}



/*----------------------------------*/

.reproduccion{
    width: 100%;
    margin-top: 5px;
    background-color: black;
    height:9vh;
    border: 2px;
    border-style: solid;
    border-color: wheat;
}


.titulo {
    font-size: 24px;
    padding: 10px 10px 0 10px;
}

.cuerpo {
    padding: 10px;
}

.pie {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:after {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   content: ""
}
.pie a:after {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   content: ""
 }

/*-------------------------------------------------------*/


