@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SaveMusic/_Layout.cshtml";
}

<h2>Cargar Archivo de Música Holaaa</h2>

@using (Html.BeginForm("ObtenerMetadatosCancion", "SaveMusic", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="archivo">Selecciona un archivo de música:</label>
        <input type="text" name="archivo" id="archivo" accept=".flac" required />
    </div>

    <button type="submit" class="btn btn-primary">Cargar y Obtener Metadatos</button>
}